<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Appenders>

        <!-- Console Appender -->

        <Console name="ConsoleAppender"
                 target="SYSTEM_OUT">

            <PatternLayout
                pattern="%d{HH:mm:ss} %-5level - %msg%n"/>

        </Console>



        <!-- File Appender -->

        <File name="FileAppender"
              fileName="logs/automation.log">

            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>

        </File>

    </Appenders>



    <Loggers>

    <!-- Suppress TestNG Internal Logs -->

    <Logger name="org.testng"
            level="off"
            additivity="false"/>


    <!-- Root Logger -->

    <Root level="info">

        <AppenderRef ref="ConsoleAppender"/>

        <AppenderRef ref="FileAppender"/>

    </Root>

</Loggers>

</Configuration>